<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source_website.name %>
</p>



<%= link_to 'Edit', edit_source_website_path(@source_website) %> |
<%= link_to 'Back', source_websites_path %>
